<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/styles.css">
  <title>Request Header Parser</title>
</head>

<body>
  <header>
    <h1>API Project: Request Header Parser Microservice</h1>
  </header>

  <main>
    <section>
      <h2>Example Usage:</h2>
      <p>
        <a href="/api/whoami" target="_blank">[project_url]/api/whoami</a>
      </p>
    </section>

    <section>
      <h2>Example Output</h2>
      <code>{"ipaddress":127.0.0.1,"language":"en-US,en;q=0.5","software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</code>
    </section>
  </main>

  <footer>
    <p>
      Made with 💙 By
      <a href="https://github.com/DiogoJorge1401" target="_blank">
        Diogo Jorge
      </a>
    </p>
  </footer>
</body>

</html>